#cart {
 
}
.cart-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  justify-content: center;
  align-items: center;
}
.cart-container h2 {
  color: white;
}
.table-responsive {
  width: 100%;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.top {
  background-color: #f2f2f2;
}
th {
  padding: 14px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
td {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.cart-item {
  background-color: #fff;
}
.add-reduce button {
  margin: 0 5px;
  padding: 1px 8px;
  background-color: #f2f2f2 #ebebeb;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 19px;
}
.add-reduce button:hover,
.bottom button:hover {
  background-color: #ebebeb;
}
.add-reduce span {
  margin: 0 10px;
}
.remove-btn {
  background-color: #dc3545;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: #c82333;
}
.no-item {
  text-align: center;
  padding: 2rem 12px;
  width:100%;
  background-color: white;
}
.bottom a {
  text-decoration: none;
}
.bottom button {
  font-family: "DM Sans", sans-serif;
  background-color: white;
  border-radius: 6px;
  padding: 8px 28px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  transition: transform 0.3s ease;
  animation: slide-left 1s infinite linear;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/* Responsive Styles */
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    position:absolute;
    top:-9999px;
    left:-9999px;
  }
  tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    /* padding: 10px; */
  }
  td {
    border: none;
    position: relative;
    padding-left: 50%;
    display: flex;
    align-items: center;

    border-bottom:1px solid #eee;
  }
  td:before {
    position: absolute;
    top: 10px;
    left: 10px;
    white-space: nowrap;
    text-align:left; 
    font-weight:600;
  }
  td:nth-of-type(1):before {
    content: "Product";
  }
  td:nth-of-type(2):before {
    content: "Price";
  }
  td:nth-of-type(3):before {
    content: "Quantity";
  }
  td:nth-of-type(4):before {
    content: "Subtotal";
  }
  td:nth-of-type(5):before {
    content: "Remove";
  }
  .add-reduce button {
    margin: 0 2px;
    padding: 5px;
  }
  .bottom span{
    font-size:14px;
  }
}
